
*{
    color:black;
    font-weight: 500;
    border-radius: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
}
body {
    background-color:peachpuff;
}

.box{
    display:flex;
    flex-direction: column;

    border: 20px brown;
    background-color: aquamarine;
    border-style:ridge;

    min-width: 700px;
    align-items: center;
    padding: 20px;
   
    
}
    
    

p,h1,button,div{
    position:center,absolute;
    text-align: center;
}

form,label {
    position:center,absolute;
    padding-left: 43px;
    
}
#button {
    display:flex;
    justify-content: center;
}
  

#currentDate{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#input {
    display: flex;
    justify-content:  center;
}



.taskCluster{
    display:flex;
    justify-content:stretch;
    flex-direction: row;
    border-color: black;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
   
}


table{
    border: 2px brown;
    border-style:ridge;
    padding: 5px;
}


.checked { 
    text-decoration: line-through;
  }